* {    box-sizing: border-box; margin: 0;}

body {    font-family: 'Montserrat', sans-serif;    margin: 0px}

#product-overview {    background: url("freedom.jpg");    height: 500px;   }

.section-title {    color: #2ddf5c; text-align: center; margin-top: 40px;}

#product-overview h1 {    color: white;    font-family: 'Anton', sans-serif;}

.main-header > div{display: inline-block;}

.main-nav {display: inline-block; text-align: right; width: calc(100% - 100px) ; vertical-align: middle}

.main-header {    background: #2ddf5c;    width:100%; padding : 10px 0px}

.main-nav__item {  display: inline-block; padding:0px 16px; }

.main-nav__item a:active,
.main-nav__item a:hover
 {  color: azure; border-bottom: 2px solid white }

.main-nav__items {    list-style: none;  }

.main-nav__brand {    font-size: 22px; font-weight: bold ; vertical-align: middle;}

.main-header > div > a { color: darkcyan ; text-decoration: none;}
.main-header > nav  a { color:black ; text-decoration: none; font-weight: bold}

.main-nav__item-btn1 a {padding: 5px; border : #ff1b68 2px solid;  background: paleturquoise }

.main-nav__item-btn1 a:hover,
.main-nav__item-btn1 a:active{   border : #ff1b68 2px solid; background: rgb(52, 168, 168) }

/* ----------------------------------------2 --------------------------------------------------------- */
/* Style Plan - articel tags in second section*/
.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

/* override properties for recommended plan - different color and bkgrnd. */
.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(100, 219, 240, 0.5);
}

/* remove bullets*/
.plan__features {    list-style: none;    margin: 0;    padding: 0;}

/* Add up down padding between plan feature*/
.plan__feature {    margin: 8px 0;}  

/* style recommended badge.*/
.plan__annotation {
    background: white;    color: #19b84c;    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {    color: #0e4f1f;}
.plan__price {    color: #858585;}
.plan--highlighted .plan__title {    color: white;}
.plan--highlighted .plan__price {    color: #0e4f1f;}

.button {
    background: #0e4f1f;    color: white;    font: inherit;
    border: 1.5px solid #0e4f1f;    padding: 8px;    border-radius: 8px;
    font-weight: bold;    cursor: pointer;
}

.button:hover,
.button:active {    background: white;    color: #0e4f1f;}

.button:focus {    outline: none;}

/* ----------------------------------------3 --------------------------------------------------------- */
.key-features{ background: #52bad4; padding : 30px 0; margin-top: 50px;}
.key-features > .section-title{ color: white}
.key-feature__list {   list-style: none; }
.key-feature {  display: inline-block;  width: 30%; margin-top: 20px }
.key-feature_desc { text-align: center; font-size: 20px; font-weight: bold;color: white }
.key-feature_image { margin : auto; border: white 2px solid ; background:black; border-radius: 50%; width: 128px ; height: 128px;}

/*  ---------------------------------------------------------------------temp -------------------
1. height and width, content-model,etc
#product-overview {
    background: #ff1b68;
    height: 300px;
    width: 100%;
    padding: 10px;
    border: #2ddf5c solid 5px;
    margin: 30px
}

*/
