* {    box-sizing: border-box; margin: 0;}

body {    font-family: 'Montserrat', sans-serif;    margin: 0px}

#product-overview {    background: url("https://upload.wikimedia.org/wikipedia/commons/e/ed/Katrina_Jade.jpg");    height: 500px;   }

.section-title {    color: #2ddf5c;}

#product-overview h1 {    color: white;    font-family: 'Anton', sans-serif;}

.main-header > div{display: inline-block;}

.main-nav {display: inline-block; text-align: right; width: calc(100% - 100px) ; vertical-align: middle}

.main-header {    background: #2ddf5c;    width:100%; padding : 10px 0px}

.main-nav__item {  display: inline-block; padding:0px 16px; }

.main-nav__item a:active,
.main-nav__item a:hover
 {  color: azure; border-bottom: 2px solid white }

.main-nav__items {    list-style: none;  }

.main-nav__brand {    font-size: 22px; font-weight: bold ; vertical-align: middle;}

.main-header > div > a { color: darkcyan ; text-decoration: none;}
.main-header > nav  a { color:black ; text-decoration: none; font-weight: bold}

.main-nav__item-btn1 a {padding: 5px; border : #ff1b68 2px solid;  background: paleturquoise }

.main-nav__item-btn1 a:hover,
.main-nav__item-btn1 a:active{   border : #ff1b68 2px solid; background: rgb(52, 168, 168) }


/*  ---------------------------------------------------------------------temp -------------------
1. height and width, content-model,etc
#product-overview {
    background: #ff1b68;
    height: 300px;
    width: 100%;
    padding: 10px;
    border: #2ddf5c solid 5px;
    margin: 30px
}

*/
